
<div class="container container-summary">
    <div class="page-header row summary-row">
        <div class="col-lg-7">
            <h1>Summary</h1>
        </div>
        <div class="col-lg-2">
            <input id="datePicker" ng-model="datePicker" type="text" class="form-control bigFonts date" placeholder="Date" readonly>

        </div>
        <div class="col-lg-2 godowns" >
            <div class="form-group">
                <select class="form-control bigFonts godown hidden" id="godown" style="padding:4px;" ng-model="godown">
                        <option value="">All</option>
                        <option ng-repeat="godown in Godowns" value="{{godown.Name}}">
                            {{godown.Name}}
                        </option>

                </select>
            </div>
        </div>
        <div class="col-lg-1 loadbtn">
            <button class="btn btn-success loadingbtn" ng-click="Summary()">Load</button>
        </div>


    </div>

    <div class="row summary-row">
        <div class="col-lg-6">
            <p class="center">OPP.STOCK</p>
            <div class="row summary-row">
                <table class="summary-table table table-bordered table-opening tablesorter" id="open">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Bags</th>
                        <th>Packets</th>
                        <th>KGS</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="center">BALANCE STOCK</p>
            <div class="row summary-row">
                <table class="summary-table table table-bordered table-balance tablesorter" id="balance">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Bags</th>
                        <th>Packets</th>
                        <th>KGS</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
      </div>
    <div class="row summary-row">
        <div class="col-lg-4">
            <p class="center">PURCHASE</p>
            <div class="row summary-row">
                <table class="summary-table table table-bordered table-purchase">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Bags</th>
                        <th>Packets</th>
                        <th>KGS</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <p class="center">PROCESS</p>
            <div class="row summary-row">
                <table class="summary-table table table-bordered table-process">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Bags</th>
                        <th>Packets</th>
                        <th>KGS</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <p class="center">LOADING</p>
            <div class="row summary-row">
                <table class="summary-table table table-bordered table-loading">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Bags</th>
                        <th>Packets</th>
                        <th>KGS</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

