<!-- Begin page content -->
<div class="container">
    <div class="page-header row">
        <div class="col-xs-6">
            <h1>Process</h1>
        </div>
        <div class="col-xs-6">
            <input id="datePicker" ng-model="datePicker" type="text" class="form-control bigFonts" placeholder="Date"
                   style="margin-top: 15px;">
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-4 col-sm-5 col-xs-12">
                <select id="product" class="bigFonts" ng-model="processEntry.product">
                    <option ng-repeat="product in ProductNames"
                            value="{{product.Name}}">
                        {{product.Name}}
                    </option>
                </select>
                <div>
                    <br>
                </div>
                <select id="type" class="bigFonts" style="width: 100%;" ng-model="processEntry.type">
                    <option value="">Select a type</option>
                    <option ng-repeat="maintype in ProductMainTypes"
                            value="{{maintype.Name}}">

                        {{maintype.Name}}
                    </option>
                </select>

                <!-- <input type="number" pattern="\d*" ng-model="rawMaterial" class="form-control bigFonts" placeholder="Raw Material" /> -->
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 col-xs-12  control-label">Raw Material</label>
            <div class="col-sm-3 col-xs-7 input-bags">
                <div class="input-group">
                    <input type="number" id="rawMaterialBags" ng-model="processEntry.rawMaterialBags" pattern="\d*"
                           class="form-control bigFonts " placeholder="Bags" aria-describedby="basic-addon2" min="0"
                           max="999"/>
                    <span class="input-group-addon addonStyle">x 65 KG</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-5">
                <div class="input-group">
                    <input type="number" id="rawMaterialPackets" ng-model="processEntry.rawMaterialPackets"
                           pattern="\d*" class="form-control bigFonts " placeholder="Packet"
                           aria-describedby="basic-addon2" min="0" max="65"/>
                    <span class="input-group-addon addonStyle"> KG</span>
                </div>
            </div>
        </div>
        <hr/>
        <div id="entryFields">
            <div class="form-group" ng-repeat="type in SupariTypes" ng-hide="(processEntry.product != 'Supari')" data-name="{{type.Name}}">
                <label for="" class="col-sm-2 col-xs-12  control-label">{{type.Name}}</label>
                <div class="col-sm-3 col-xs-7 input-bags">
                    <div class="input-group">
                        <input type="number" id="{{type.Name + 'Bags'}}" pattern="\d*" class="form-control bigFonts "
                               placeholder="Bags" aria-describedby="basic-addon2"/>
                        <span class="input-group-addon addonStyle">x 65 KG</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-5">
                    <div class="input-group">
                        <input type="number" id="{{type.Name + 'Packets'}}" pattern="\d*" class="form-control bigFonts "
                               placeholder="Packet" aria-describedby="basic-addon2"/>
                        <span class="input-group-addon addonStyle"> KG</span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-repeat="type in MariTypes" ng-hide="(processEntry.product != 'Mari')" data-name="{{type.Name}}">
                <label for="" class="col-sm-2 col-xs-12  control-label">{{type.Name}}</label>
                <div class="col-sm-3 col-xs-7 input-bags">
                    <div class="input-group">
                        <input type="number" id="{{type.Name + 'Bags'}}" pattern="\d*" class="form-control bigFonts"
                               placeholder="Bags" aria-describedby="basic-addon2"/>
                        <span class="input-group-addon addonStyle">x 65 KG</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-5">
                    <div class="input-group">
                        <input type="number" id="{{type.Name + 'Packets'}}" pattern="\d*" class="form-control bigFonts"
                               placeholder="Packet" aria-describedby="basic-addon2"/>
                        <span class="input-group-addon addonStyle"> KG</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
	
	<div class="form-horizontal">
        <div class="form-group ng-scope row">
            <label for="" class="col-sm-2 col-xs-6 text-right total-Label">Total</label>
            <div class="col-sm-3 col-xs-6 input-bags">
                <div class="input-group">
                    <label class="input-group-addon totalStyle control-label1">{{processEntry.getTotalWeight()}} KG</label>
                </div>
            </div>

            <label for="" class="col-sm-1 col-xs-6">Adj</label>
            <div class=" col-sm-2 col-xs-6 input-bags">
                <div class="input-group">
                    <label for="" id="output" class=" input-group-addon control-label1 text-right totalStyle" ng-class="{'text-danger' : (processEntry.getAdjustment() < 0), 'text-success' : (processEntry.getAdjustment() >= 0)} ">{{processEntry.getAdjustment()}} KG</label>
                </div>
            </div>
        </div>
    </div>

	<hr />
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveBtn" type="submit" class="btn btn-success btn-block btn-block-xs bigFonts"
                    data-toggle="modal" data-target="" ng-click="processEntry.fillModalHtml()">Save
            </button>
        </div>
    </div>
</div>
<!-- Modal starts -->
<div id="summary-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Processed</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody id="recieptContainer">

                    </tbody>
                </table>
                <div class="text-right"
                     ng-class="{'text-danger' : (processEntry.getAdjustment() < 0), 'text-success' : (processEntry.getAdjustment() >= 0)}">
                    *Weight loss/gain: {{processEntry.getAdjustment()}} KG
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default bigFonts process-cancel" data-dismiss="modal" style="width: 100%;" ng-click="processcancel()">
                        No
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-success bigFonts process-save" data-dismiss="modal" style="width: 100%;" ng-click="processsave()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>