<!-- Begin page content -->
	<div class="container">
		<div class="page-header row">
			<div class="container">
				<h1 style="font-size:22px;font-weight:700;">Process List</h1>
			</div>
		</div>
		<div class="list">
			<div class="item1 item"> 
				<tr>
					<td>
						<div class="col-xs-3 hidden-xs hidden-md hidden-sm col-lg-1 ">
							<b>Edit</b>	
						</div>
					</td>
					<td>
						<div class="col-xs-4 col-lg-4">
							<b class="date-heading" ng-click="order('date')">Date</b><span class="sortorder" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></span>
						</div>
					</td>
					<td>
						<div class="col-xs-4 col-lg-3">
							<b class="product-heading" ng-click="order('product')" >Product</b><span class="sortorder" ng-show="predicate === 'product'" ng-class="{reverse:reverse}"></span>
						</div>
					</td>
					<td>
						<div class="col-xs-4 col-lg-3 input-output-heading">
							<b class="input-heading" ng-click="order('input')">Input/Output</b><span class="sortorder" ng-show="predicate === 'input'" ng-class="{reverse:reverse}"></span><br>
							<b class="kgs">(KG)</b>
						</div>
					</td>
					<td>
						<div class="col-xs-3 col-lg-1 hidden-xs hidden-md hidden-sm">
							<b>Delete</b>	
						</div>
					</td>
				</tr>
			</div>
		</div>
 
		<div class="list" ng-repeat="user in users |  orderBy:predicate:reverse">
			<div class="item">
			<div class="item-swipe bigFonts">
				<div class="col-xs-3 col-lg-1 hidden-xs hidden-md hidden-sm">
					<div class="wrap">
						 <a class="redirect" href='/purchase.html' ><span class='glyphicon glyphicon-edit'></span></a>
					</div>
				</div>
				<div class="col-xs-4 col-lg-4">
					<div class="wrap">
						<span class="row1 date-fix date">{{user.date}} </span>
					</div>
				</div>
				<div class="col-xs-4 col-lg-3">
					<div class="wrap">
						 <span class="row1 type-fix produc">{{user.product}}-{{user.type}}</span>
					</div>
				</div>
				<div class="col-xs-4 col-lg-3">
					<div class="wrap float-input-output-right">
						
						 <span class="row1 input-fix product" data-placement="left" data-container="body" data-toggle="popover" title="10 X 65 + 10 = 650KG">{{weight(user.input)}}</span>/<span class="product output-fix" data-placement="left" data-container="body" data-toggle="popover" title="10 X 65 + 10 = 650KG">{{weight(user.output)}}</span>
						 
					</div>
				</div>
				<div class="col-xs-3 col-lg-1 extra">
					<div class="wrap">
						 <a class="delete" href='/purchase.html'><span class='glyphicon glyphicon-trash'></span></a>
					</div>
				</div>
			</div>
				<div class="item-back">
					<button class="action first btn-delete" type="button">
						<i class="fa fa-trash-o"></i>
					</button>
					<button class="action second btn-check" type="button">
						<i class="fa fa-edit"></i>
					</button>
				</div>
			</div>
		</div>
	</div>