<!-- Begin page content -->
<div class="container">
    <div class="page-header row">
        <div class="col-xs-6">
            <h1>Purchase</h1>
        </div>
        <div class="col-xs-6">
            <input id="datepicker" ng-model="purchaseEntry.datePicker" type="text" class="form-control bigFonts"
                   readonly placeholder="Date" value="01/15/" style="margin-top: 15px;">
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-4 col-sm-5 col-xs-12">
               <select class="bigFonts" style="width: 100%;" ng-model="AccountName" id="selectAccount">
                    <option value="">Select an account</option>
                    <option ng-repeat="accountName in PurchaseAccountNames" value="{{accountName.Name}}" >
                        {{accountName.Name}}
                    </option>
               </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <select class="bigFonts" ng-model="purchaseEntry.product" value="{{purchaseEntry.product}}" id="selectType">
                   <option ng-repeat="product in ProductNames"
                            value="{{product.Name}}">
                        {{product.Name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-4 col-sm-5 col-xs-12">
                <select class="bigFonts" style="width: 100%;" ng-model="type" id="selectProductType">
                   <option value="">Select a type</option>
                    <option ng-repeat="type in ProductTypes"
                            value="{{type.Name}}">
                        {{type.Name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3 col-xs-7 input-bags">
                <div class="input-group"><input type="number" ng-model="bagsinput"
                                                class="form-control bigFonts" pattern="\d*" placeholder="Bags"
                                                aria-describedby="basic-addon2" id="bags">
                    <span class="input-group-addon addonStyle" id="basic-addon2">x 65 KG</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-5">
                <div class="input-group"><input type="number" ng-model="packetsinput"
                                                class="form-control bigFonts" pattern="\d*" placeholder="Packet"
                                                aria-describedby="basic-addon2" id="packets">
                    <span class="input-group-addon addonStyle" id="basic-addon2"> KG</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success btn-block btn-block-xs bigFonts purchase-save" data-toggle="modal"
                        data-target="" ng-click="savePurchaseEntry()">Save
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal starts -->
<div id="summary-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Purchase</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td scope="row">Date</td>
                        <td>{{purchaseEntry.datePicker}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Product</td>
                        <td>{{purchaseEntry.product}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Account</td>
                        <td>{{AccountName}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Type</td>
                        <td>{{type}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Bags</td>
                        <td>{{getValidValue(bagsinput)}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Packets</td>
                        <td>{{getValidValue(packetsinput)}}</td>
                    </tr>
                    <tr class="info">
                        <td>Total KG</td>
                        <td>{{bagsinput * 65 + packetsinput }} KG</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default bigFonts no" data-dismiss="modal" style="width: 100%;" ng-click="no()">
                        No
                    </button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-success bigFonts yes" data-dismiss="modal" style="width: 100%;" ng-click ="yes()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ends -->