<!-- Begin page content -->
<div class="container">
    <div class="page-header row">
        <div class="col-xs-6">
            <h1>Sales</h1>
        </div>
        <div class="col-xs-6">
            <input id="datePicker" ng-model="datePicker" type="text" class="form-control bigFonts" placeholder="Date"  readonly
                   style="margin-top: 15px;">
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-4 col-sm-5 col-xs-12">
                <select id="accountName" class="bigFonts" style="width: 100%;" ng-model="salesEntry.accountName">
                    <option value="">Select an account</option>
                    <option ng-repeat="sales in SalesAccountNames"
                            value="{{sales.Name}}">
                        {{sales.Name}}
                    </option>
                </select>
                <div>
                    <br/>
                </div>
                <select id="transportName" class="bigFonts" style="width: 100%;" ng-model="transportName">
                    <option value="">Select a transport</option>
                    <option ng-repeat="transport in TransportTypes"
                            value="{{transport.Name}}">
                        {{transport.Name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <select id="product" class="bigFonts" ng-model="salesEntry.product">
                    <option ng-repeat="product in ProductNames"
                            value="{{product.Name}}">
                        {{product.Name}}
                    </option>

                </select>
            </div>
        </div>
        <div id="entryFields" class="form-group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <select id="type" class="bigFonts" style="width: 100%;">
                            <option value="">Type</option>
                            <option ng-repeat="maintype in ProductMainTypes"
                                    value="{{maintype.Name}}">
                                {{maintype.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <select id="brand" class="bigFonts" style="width: 100%;">
                            <option value="">Brand</option>
                            <option ng-repeat="brand in BrandTypes"
                                    value="{{brand.Name}}">
                                {{brand.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <select id="subType" class="bigFonts" style="width: 100%;">
                            <option value="">Detail Type</option>
                            <option ng-repeat="types in SupariTypes"
                                    value="{{types.Name}}">
                                {{types.Name}}
                            </option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-7">
                        <div class="input-group"><input id="bags" type="number" pattern="\d*"
                                                        class="form-control bigFonts" placeholder="Bags"
                                                        aria-describedby="basic-addon2"  min="0" max="999">
                            <span class="input-group-addon addonStyle" id="basic-addon2">x 65 KG</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <div class="input-group"><input id="packet" type="number" pattern="\d*" min="0" max="65"
                                                        class="form-control bigFonts" placeholder="Packet"
                                                        aria-describedby="basic-addon2">
                            <span class="input-group-addon addonStyle" id="basic-addon2"> KG</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="add" type="button" class="btn btn-success addBtn btn-block btn-block-xs bigFonts" ng-click="form()">Add
                </button>
            </div>
        </div>

        <hr/>
        <div>
            <div class="table recieptContainer">
                <div class="list">
                </div>
                <img src='images/shadow.png' class='listShadow'/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="saveBtnsales" type="submit" class="btn btn-success btn-block btn-block-xs bigFonts displayNone"
                        data-toggle="modal" data-target="#summary-modal">Save
                </button>
            </div>
        </div>
        <!-- Modal starts -->
        <div id="summary-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Sales</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tbody class="recieptContainerModal">

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default bigFonts salecancel" data-dismiss="modal"
                                    style="width: 100%;" ng-click="salecancel()">No
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-success bigFonts salesave" data-dismiss="modal"
                                    style="width: 100%;" ng-click="salesave()">Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal ends -->

    </div>
</div>