<!-- Begin page content -->
<div class="container">
    <div class="page-header row">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">
                    <h1>Sales List</h1>
                </div>
                <div class="directEntry col-lg-2 col-md-2 col-sm-2 col-xs-5">
                    <button type="submit" class="btn btn-success btn-block btn-block-xs bigFonts" ng-click="SaleEntry()">New Entry</button>
                </div>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="tableHeader item">
            <tr>
                <td>
                    <div class="col-xs-3 hidden-xs hidden-sm hidden-md col-lg-1 headerStyle text-center">
                        <b>Edit</b>
                    </div>
                </td>
                <td>
                    <div class="col-xs-3 col-lg-3 headerStyle">
                        <b class="date-heading" ng-click="order('CreatedDate')">Date</b><span class="sortorder"
                                                                                                 ng-show="predicate === 'CreatedDate'"
                                                                                                 ng-class="{reverse:reverse}"></span>
                    </div>
                </td>
                <td>
                    <div class="col-xs-3 col-lg-3 headerStyle">
                        <b class="account-heading" ng-click="order('salesAccountName')">Account</b><span
                            class="sortorder" ng-show="predicate === 'salesAccountName'"
                            ng-class="{reverse:reverse}"></span>
                    </div>
                </td>
                <td>
                    <div class="col-xs-3 col-lg-2 headerStyle">
                        <b class="transport-heading" ng-click="order('TransportName')">Transport</b><span
                            class="sortorder" ng-show="predicate === 'TransportName'"
                            ng-class="{reverse:reverse}"></span>
                    </div>
                </td>
                <td>
                    <div class="col-xs-3 col-lg-2 sales-bags headerStyle">
                        <b class="bags-heading" ng-click="order('TotalBags')">Bags</b><span class="sortorder"
                                                                                                 ng-show="predicate === 'TotalBags'"
                                                                                                 ng-class="{reverse:reverse}"></span>
                    </div>
                </td>
                <td>
                    <div class="col-xs-3 hidden-xs hidden-sm hidden-md col-lg-1 headerStyle">
                        <b>Delete</b>
                    </div>
                </td>
            </tr>
        </div>
    </div>

    <div class="list" ng-repeat="user in Sales |  orderBy:predicate:reverse">
        <div class="item">
            <div class="item-swipe bigFonts">
                <div class="col-xs-3 hidden-xs hidden-sm hidden-md col-lg-1" ng-click="load(user._id)">
                    <div class="wrap">
                        <a class="id hidden">{{user._id}}</a>
                        <a class="redirect" href='/sales/{{user._id}}'><span class='glyphicon glyphicon-edit'></span></a>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <div class="wrap">
                        <span class="row1 date-fix date">{{trim(user.CreatedDate)}} </span>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-3">
                    <div class="wrap">
                        <span class="row1 account-fix product">{{user.salesAccountName}}</span>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-2">
                    <div class="wrap">
                        <span class="row1 transport-fix product">{{user.TransportName}}</span>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-2 extra">
                    <div class="wrap float-bags-right">
                        <span class="product bags-fix" data-placement="left" data-container="body" data-toggle="popover"
                              title="">{{bags(user.TotalBags)}}</span>
                    </div>
                </div>
                <div class="col-xs-3 hidden-xs col-lg-1 extra"  ng-click="delete(user._id)">
                    <div class="wrap">
                        <a class="id hidden">{{user._id}}</a>
                        <a class="delete" href='#'><span class='glyphicon glyphicon-trash'></span></a>
                    </div>
                </div>
            </div>
            <div class="item-back">
                <button class="action first btn-delete" type="button" ng-click="deleteMobile(user._id)">
                    <a class="id hidden">{{user._id}}</a>
                    <i class="fa fa-trash-o"></i>
                </button>
                <button class="action second btn-check" type="button">
                    <a class="id hidden">{{user._id}}</a>
                    <i class="fa fa-edit"></i>
                </button>
            </div>
        </div>
    </div>
    <img src="images/shadow.png" class="listShadow"/>
</div>
<div id="delete-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Entry</h4>
            </div>
            <div class="modal-body">
                Are You Sure ?
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default bigFonts no" data-dismiss="modal" style="width: 100%;">
                        No
                    </button>
                </div>
                <div class="col-xs-6">
                    <a class="id hidden">{{user._id}}</a>
                    <button type="button" class="btn btn-success bigFonts yes" data-dismiss="modal"  style="width: 100%;" ng-click="">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>