<!-- Begin page content -->
<div class="container">
    <div class="page-header row">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">
                    <h1>Process List</h1>
                </div>
                <div class="directEntry col-lg-2 col-md-2 col-sm-2 col-xs-5">
                    <button type="submit" class="btn btn-success btn-block btn-block-xs bigFonts btn-right" ng-click="ProcessEntry()">ADD</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tableContainer">
    <div class="list">
        <div class="tableHeader item">

            <tr>
                <td>
                    <div class="col-xs-3 hidden-xs hidden-md hidden-sm col-lg-1 headerStyle text-center">
                        <b>Edit</b>
                    </div>
                </td>
                <td>
                    <div class="col-xs-3 col-lg-4 headerStyle">
                        <b class="date-heading" ng-click="order('CreatedDate')">Date</b><span class="sortorder"
                                                                                                   ng-show="predicate === 'CreatedDate'"
                                                                                                   ng-class="{reverse:reverse}"></span>
                    </div>
                </td>
                <td>
                    <div class="col-xs-4 col-lg-3 headerStyle">
                        <b class="product-heading" ng-click="order('Product')">Product</b><span
                            class="sortorder" ng-show="predicate === 'Product'"
                            ng-class="{reverse:reverse}"></span>
                    </div>
                </td>
                <td>
                    <div class="col-xs-5 col-lg-3 input-output-heading headerStyle">
                        <b class="input-heading" ng-click="order('Input')">Input/Output</b><span
                            class="sortorder" ng-show="predicate === 'Input'"
                            ng-class="{reverse:reverse}"></span>
                        <br class="visible-xs">
                        <b class="kgs">(KG)</b>
                    </div>
                </td>
                <td>
                    <div class="col-xs-3 col-lg-1 hidden-xs hidden-md hidden-sm headerStyle">
                        <b>Delete</b>
                    </div>
                </td>
            </tr>
        </div>

    </div>

    <div class="list" ng-repeat="user in Process |  orderBy:predicate:reverse">
        <div class="item">
            <div class="item-swipe bigFonts">
                <div class="col-xs-3 col-lg-1 hidden-xs hidden-md hidden-sm" ng-click="load(user._id)">
                    <div class="wrap">
                        <a class="id hidden">{{user._id}}</a>
                        <a class="redirect" href='/process/{{user._id}}'><span class='glyphicon glyphicon-edit'></span></a>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-4">
                    <div class="wrap">
                        <span class="row1 date-fix date">{{trim(user.CreatedDate)}} </span>
                    </div>
                </div>
                <div class="col-xs-4 col-lg-3">
                    <div class="wrap">
                        <span class="row1 type-fix product">{{user.Product}}-{{user.Type}}</span>
                    </div>
                </div>
                <div class="col-xs-5 col-lg-3">
                    <div class="wrap float-input-output-right">

                        <span class="row1 input-fix product" data-placement="left" data-container="body"
                              data-toggle="popover"
                              title={{pop(user.Input)}}>{{weight(user.Input)}}</span>/<span
                            class="product output-fix" data-placement="left" data-container="body" data-toggle="popover"
                            title={{pop(user.Output)}}>{{weight(user.Output)}}</span>

                    </div>
                </div>
                <div class="col-xs-3 col-lg-1 extra"  ng-click="delete(user._id)">
                    <div class="wrap">
                        <a class="id hidden">{{user._id}}</a>
                        <a class="delete" href='#'><span class='glyphicon glyphicon-trash'></span></a>
                    </div>
                </div>
            </div>
            <div class="item-back">
                <button class="action first btn-delete" type="button" ng-click="deleteMobile(user._id)">
                    <a class="id hidden">{{user._id}}</a>
                    <i class="fa fa-trash-o"></i>
                </button>
                <button class="action second btn-check" type="button" ng-click="">
                    <a class="id hidden">{{user._id}}</a>
                    <a class="redirected" href='/process/{{user._id}}'> <i class="fa fa-edit"></i></a>

                </button>
            </div>
        </div>
    </div>
    <img src="images/shadow.png" class="listShadow"/>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Entry</h4>
            </div>
            <div class="modal-body">
                Are You Sure ?
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default bigFonts no" data-dismiss="modal" style="width: 100%;">
                        No
                    </button>
                </div>
                <div class="col-xs-6">
                    <a class="id hidden">{{user._id}}</a>
                    <button type="button" class="btn btn-success bigFonts yes" data-dismiss="modal"  style="width: 100%;" ng-click="">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>