<!-- Begin page content -->
<div class="container">
    <div class="page-header row">
        <div class="col-xs-12 col-lg-10">
            <h1>Sales Account</h1>
        </div>
        <div class="col-xs-12 col-lg-2 del">
            <button id="deletebtn" type="submit" class="btn btn-success btn-block btn-block-xs bigFonts"
                    data-toggle="modal" data-target="" ng-click="create()">Create New
            </button>
        </div>
    </div>

<!-- Modal starts -->
<div class="tableContainer ">
    <div class="list">
        <div class="tableHeader item">
            <tr>
                <td>

                    <div class="col-xs-5 col-lg-6 col-md-6 heading-date headerStyle">
                        <b class="date-heading" ng-click="order('Name')">Name </b><span class="sortorder"
                                                                                              ng-show="predicate === 'Name'"
                                                                                              ng-class="{reverse:reverse}"></span>
                    </div>
                </td>
                <td>

                    <div class="col-xs-4 col-lg-4 col-md-4 heading-date headerStyle">
                        <b class="date-heading" ng-click="order('Tagad')">Tagad </b><span class="sortorder"
                                                                                                ng-show="predicate === 'Tagad'"
                                                                                                ng-class="{reverse:reverse}"></span>
                    </div>
                </td>
                <td>
                    <div class="col-xs-3 col-lg-2 col-md-2 headerStyle align-right margin-left">
                        <b>Delete</b>
                    </div>
                </td>

            </tr>
            </div>
    </div>
    <div class="list" ng-repeat="user in Sales |  orderBy:predicate:reverse">
        <div class="item">
            <div class="item-swipe bigFonts">
                <div class="col-xs-5 col-lg-6 col-md-6">
                    <div class="wrap">
                        <span class="row1 date-content date">{{user.Name}} </span>
                    </div>
                </div>
                <div class="col-xs-4 col-lg-5 col-md-5">
                    <div class="wrap">
                        <span class="row1 date-content date">{{user.Tagad}} </span>
                    </div>
                </div>
                <div class="col-xs-3 col-lg-1 col-md-1" ng-click="delete(user._id)">
                    <div class="wrap">
                        <a class="id hidden">{{user._id}}</a>
                        <a class="delete" href='#'><span class='glyphicon glyphicon-trash'></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="salesparty-modals" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Account Name</h4>
            </div>
            <div class="modal-body">
                <span class="glyphicon glyphicon-user"></span>
                <input type="text" id="account" placeholder="Enter Account Name">
                <br>
                <br>
                <span class="  glyphicon glyphicon-pushpin"></span>
                <input type="text" id="tagad" placeholder="Enter Tagad Name">
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default bigFonts no" data-dismiss="modal" style="width: 100%;">
                        Cancel
                    </button>
                </div>
                <div class="col-xs-6">
                    <a class="id hidden"></a>
                    <button type="button" class="btn btn-success bigFonts yes" data-dismiss="modal"  style="width: 100%;" ng-click="add()">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Account</h4>
            </div>
            <div class="modal-body">
                Are You Sure ?
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default bigFonts no" data-dismiss="modal" style="width: 100%;">
                        No
                    </button>
                </div>
                <div class="col-xs-6">
                    <a class="id hidden">{{user._id}}</a>
                    <button type="button" class="btn btn-success bigFonts yes" data-dismiss="modal" style="width: 100%;"
                            ng-click="confirm()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>